
<footer class="bg-black text-white w-full flex flex-col">
  <div class="flex flex-col lg:flex-row lg:justify-between w-full">
    <div class="lg:w-1/4 flex flex-col pl-3 pt-1">
      <%= link_to root_path, data: { turbo: false } do %>
        <%= image_tag "sun-city-white-text-logo.webp", alt: "Sun City Aviation Academy Logo", class: "w-24 lg:w-48 top-0 py-2"%>
      <% end %>
      <p class="px-3">
        Our mission is to train professional, safe, and proficient pilots, who will one day excel in the aviation industry.  When you fly with the team at Sun City Aviation Academy, you're family.  Individualized instruction means you're more than just a number.  You're a future Sun City aviator.
      </p>
      
    </div>
    <div class="lg:w-1/6 flex flex-col items-center">
      <p class="font-bold text-2xl pt-10">Quick Links</p>
    </div>
    <div class="lg:w-1/6 flex flex-col items-center">
      <p class="font-bold text-2xl pt-10">Navigation</p>
    </div>
    <div class="lg:w-1/3 flex flex-col">
      <div class="m-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.1490846155243!2d-80.2355894240109!3d25.995933277205516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a96c916c96bb%3A0x7fe41940c41420e8!2sSun%20City%20Aviation%20Academy!5e0!3m2!1sen!2sus!4v1694496294691!5m2!1sen!2sus" class="w-full" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col items-center">
      <%= render "shared/bottom_footer"%>
  </div>
</footer>