<section class="bg-black pb-1">
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-9247787b-0eee-4bf4-9bd4-3c4217b0d39d"></div>
</section>