<section class="bg-gradient-to-l from-neutral-100 to-yellow-50  flex flex-col lg:flex-row items-center pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Is Flight Training Safe?</h2>
    <p class="w-3/4 pb-10">When you think about learning to fly, it's normal to worry about safety. But at Sun City Aviation Academy, safety is our top priority. We take safety seriously in every part of your training. The aviation industry is all about safety, and we follow that commitment in our flight training.</p>
    <p class="w-3/4 pb-10">The <%= link_to "NTSB reported", "https://www.ntsb.gov/safety/data/Pages/GeneralAviationDashboard.aspx", target: "blank", class: "text-yellow-600 hover:underline"%> that the fatal accident rate for general aviation has been declining for over a decade, and in 2020, it reached its lowest level ever recorded.</p>
    <p class="w-3/4 pb-10 font-semibold font-sans">Safety is the priority at Sun City. Our team is made up of well trained experts and our planes are always in top shape thanks to regular maintenance and inspections.</p>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "sun-city-move-plane.webp", alt: "Sun City Team moving plane into place to conduct a pre-flight inspection", class: "lg:h-screen-2/3 "%>
    <span class="text-slate-500 italic hidden lg:block lg:w-2/3 text-center">Sun City Team moving plane into place to conduct a pre-flight inspection to ensure the plane is safe to fly</span>
  </div>
</section>