<section class="py-10">
  <h3 class="text-3xl lg:text-4xl font-bold text-center">Join the Sun City Family</h3>
  <p class="italic text-xl font-semibold py-5 text-center">
    What Our Students Say About Us
  </p>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-eb5af969-ae75-40f0-9b9e-af9db5c793e7"></div>
</section>