<%# Head / Meta Data %>
<%# title("Advanced Traiing at Ideal Aviation") %>
<%# meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your instrument rating and commercial certificate done in the best flight school in St. Louis") %>
<%# meta_keywords("Instrument rating st. louis, multi-engine training st. louis, flight instructor CFI rating st louis, piper seminole in st louis, guimbal cabri st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/header"%>

<header class="w-full bg-center flex justify-center items-center">
  <div class="flex flex-col-reverse lg:flex-row w-full">
    <div class="lg:w-3/4">
      <%= image_tag "sun-city-team-in-front-of-seaplane.webp", class:"object-cover", alt: "Sun City Team In Front of Sea Plane"%>
    </div>
    <div class="lg:w-1/4">
      <div
        class="flex flex-col items-center justify-center h-full" x-data="">
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 lg:mt-0 mb-12 opacity-0 transition-all duration-[1200ms] -translate-y-4"
          x-intersect="$el.classList.add('opacity-100', 'translate-y-4', 'z-0')"
        />
        <h2 class="text-4xl font-bold text-center pb-10">Become a <span class="text-custom-50">Professional</span> Pilot</h2>
        <p class="px-5 lg:px-12 text-center font-serif">
          Your path to becoming a professional pilot starts here. Our experienced instructors will help you achieve your aviation goals. Join the family at Sun City.
        </p>
        <div class="relative flex mt-5">
          <span class="animate-ping-1 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0"></span>
          <span class="animate-ping-2 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0"></span>
          <span class="animate-ping-3 absolute inline-flex h-full w-full rounded-full bg-custom-50 opacity-20 z-0"></span>
          <%= link_to "START TODAY", root_path, class: "btn-primary" %>
        </div>
        
        <hr
          class="bg-custom-50 h-1 w-3/4 mt-10 mb-10 opacity-0 transition-all duration-[1200ms] translate-y-9"
          x-intersect="$el.classList.add('opacity-100', '-translate-y-0', 'z-0')"
        />
      </div>
    </div>
  </div>
</header>

<section class="w-full flex flex-col items-center py-10 px-5 bg-neutral-800">
  
  <div class="max-w-5xl border-2 border-black bg-neutral-200 rounded-xl flex flex-col items-center px-10">
    <h3 class="text-4xl font-semibold text-center py-10">Training That Shines <br>As Brightly As The Sun Itself</h3>
    <p class="text-center max-w-lg pb-10 font-serif">
      Your aviation dreams take center stage here. Whether pursuing a professional career, building flight hours, or seeking leisurely adventure, we have the perfect path for you.
    </p>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 mb-10 w-full">
      <div class="px-3 bg-course1 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            Private Pilot
          </div>
        </div>
      </div>
      <div class="px-3 bg-course2 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            Instrument
          </div>
        </div>
      </div>
      <div class="px-3 bg-course3 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            Commercial Pilot
          </div>
        </div>
      </div>
      <div class="px-3 bg-course4 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            Multi Engine
          </div>
        </div>
      </div>
      <div class="px-3 bg-course5 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            Flight Instructor
          </div>
        </div>
      </div>
      <div class="px-3 bg-course6 bg-cover h-52 w-72 rounded-xl flex flex-col justify-end">
        <div class="bg-white mb-3 px-3 py-2 rounded-xl">
          <div class="font-bold">
            ATP - Airline Transport
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>



<%= render "shared/footer"%>



<!--Sticky div-->
</div>