<%= turbo_frame_tag "frame5", class: "w-full" do %>

  <div class="mb-10">
    Thank you, <%= notice %>, for reaching out to Sun City Aviation Academy.  We will contact you shortly.
  </div>
  <div class="mb-10 italic text-slate-700 text-sm">
    NOTE: Please keep an eye on your inbox.  We will be sending an email to you.  Please check your junk/spam folders if you do not receive anything from us.
  </div>


  <% if Rails.env.production? %>
    <script>
      // PPC GOOGLE TAG
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PW8G695M');
    </script>
    <!--PPC Google TAG-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PW8G695M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <%end%>

<%end%>