<%= turbo_frame_tag "frame5", class: "w-full" do %>

  <div class="mb-10">
    Thank you, <%= notice %>, for reaching out to Sun City Aviation Academy.  We will contact you shortly.
  </div>
  <div class="mb-10 italic text-slate-700 text-sm">
    NOTE: Please keep an eye on your inbox.  We will be sending an email to you.  Please check your junk/spam folders if you do not receive anything from us.
  </div>

<%end%>