Dear <%=@book_download.name%>, <br>
<br><br>
Thank you for requesting our free booklet on how to become a pilot.  We'll reach out to you shortly to say hello and introduce ourselves.<br>
<br><br>
You can download the book by going here: <a href="https://drive.google.com/file/d/1tfVJ8b6yoQcGm6jzOU2C3Yb_lfBDNiJf/view?usp=sharing">CLICK HERE</a><br>
<br><br>
At Sun City Aviation Academy, we are committed to providing the best possible aviation education and training. We offer a variety of programs and courses designed to meet the needs of both aspiring pilots and experienced aviators.<br>
<br><br>
If you are interested in pursuing a career as a pilot, we offer comprehensive training programs that will help you achieve your goals. Our programs cover everything from private pilot certification to advanced training in commercial aviation.<br>
<br><br>
Whatever your goals may be, we are confident that we can help you achieve them. If you have any questions about our programs, please don't hesitate to contact us.<br>
<br><br>
<br><br>
The team at Sun City Aviation Academy<br>
(754) 423-2159<br>
info@suncityaviation.com<br>
<br><br>
  -------- Your Form Submission Details --------<br>
<br><br>
  Name: <%=@book_download.name%><br>
  Phone: <%=@book_download.phone%><br>
  Email: <%=@book_download.email%><br>