@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer components {
  .p-text {
    @apply font-paragraph text-lg;
  }

  .btn-primary {
    @apply text-xl text-center bg-custom-50 px-3 py-2 rounded-full text-neutral-900 border-2 border-white z-0 hover:scale-105 hover:bg-amber-500 transition-all duration-300 font-bold cursor-pointer;
  }
  .btn-secondary {
    @apply text-xl bg-black px-3 py-2 rounded-full text-custom-50 border-2 border-custom-50 z-0 hover:scale-105 hover:bg-neutral-800 transition-all duration-300 font-bold;
  }
}

@layer base {
  .no-tailwindcss-base h1, .no-tailwindcss-base h2, .no-tailwindcss-base h3, 
.no-tailwindcss-base h4, .no-tailwindcss-base h5, .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
 }
  .no-tailwindcss-base ol, .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
 }
 .no-tailwindcss-base a {
  @apply text-blue-700 underline;
 }
}